<!DOCTYPE html>
<html>
<head>
  <title>InboundApp</title>
  <%= stylesheet_link_tag    "sp/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "sp/application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
